body {
    margin: 0;
    padding: 0;
    font-family: "LeagueSpartan Light";
    background-color: #0B0C10;
    color: #fff;
    height: 100vh;
}
::selection {
    background-color: #66FCF1;
    color: #296460;
}

.page-1, .page-2, .page-3, .page-4 {
    width: 100%;
    height: 100%;
}
.page-2, .page-4 {
    background-color: #0f1118;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1F2833;
}
.navbar h2 {
    margin-left: 2.3041vh;
    font-family: "LeagueSpartan Bold";
    font-size: 3.8vh;
    color: #66FCF1;
    text-transform: uppercase;
}
.navbar nav ul {
    list-style-type: none;
    margin-right: 2.3041vh;
}
nav ul li a {
    text-decoration: none;
    color: #66FCF1;
    font-size: 2.5vh;
    font-weight: 500;
    padding-right: 5px;
}
nav ul li a:hover {
    color: #4bb6af;
}
.navbar ul li {
    display: inline;
}
.content {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 
.content .pic-1 img {
    width: 43.0108vh;
    height: 35.3303vh;
}
.content .desc {
    width: 38.4025vh;
    font-size: 2.2vh;
}
.desc h1 {
    color: #66FCF1;
}
.desc h3 {
    color: #4bb6af;
}
.desc input {
    background: none;
    padding: 5px;
    border: 2px solid #66FCF1;
    font-family: "LeagueSpartan Medium";
    font-size: 2.765vh;
    color: #66FCF1;
    cursor: pointer;
    transition: all 0.6s;
}
.desc input:hover {
    border: 2px solid #296460;
    color: #296460;
}
.social {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social a {
    color: #66FCF1;
    font-size: 3.8402vh;
    transition: all 0.6s;
}
.social a:hover {
    color: #296460;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "LeagueSpartan Bold";
    color: #66FCF1;
    font-size: 2.5vh;
}
.content-2 {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6.1444vh;
}
.content-2 .pros {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3.0722vh;
    font-size: 2.5vh;
}
.pros i {
    font-size: 4.6083vh;
    display: flex;
    align-items: center;
    color: #66FCF1;
}
.desc-1 h3, .desc-1 p{
    margin: 4px 0 4px 0;
}
h3 {
    color: #4bb6af;
    font-size: 2.9vh;
}
.page-3 .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1.5361vh;
}
.first {
    display: flex;
    flex-direction: column;
    gap: 1.5361vh;
}
#img-1, #img-2 {
    width: 27.6498vh;
    height: 15.361vh;
    border-radius: 5px;
}
.second {
    display: flex;
}
#img-3 {
    height: 32.2581vh;
    border-radius: 5px;
}
.page-3 .container-1 {
    margin-top: 1.5361vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#img-4 {
    width: 52.9954vh;
    height: 30.722vh;
    border-radius: 5px;
}
.container-1 p {
    width: 52.2273vh;
    padding: 0;
    margin: 0;
    font-size: 2.5vh;
}
.gallery {
    filter: brightness(50%);
    cursor: pointer;
    transition: all 0.6s;
}
.gallery:hover {
    filter: brightness(100%);
}
.wrap {
    height: 38.4025vh;
    display: flex;
    justify-content: space-evenly;
}
.price-1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.price-1 #line-1 {
    width: 0.3072vh;
    height: 4.6083vh;
    background-color: #66FCF1;
}
.price-1 #line-2 {
    position: absolute;
    bottom: 6.5745vh;
    right: 19.0476vh;
    width: 0.3072vh;
    height: 3.0722vh;
    transform: rotate(-45deg);
    background-color: #66FCF1;
}
.price-1 #circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5.9601vh;
    right: 14.5929vh;
    width: 7.6805vh;
    height: 3.0722vh;
    color: #296460;
    border-radius: 7.6805vh;
    transform: rotate(-45deg);
    background-color: #66FCF1;
}
.price-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
.price-2 #line-1 {
    width: 0.3072vh;
    height: 4.6083vh;
    background-color: #66FCF1;
}
.price-2 #line-2 {
    position: absolute;
    top: 5.3456vh;
    right: 18.6175vh;
    width: 0.3072vh;
    height: 4.6083vh;
    transform: rotate(45deg);
    background-color: #66FCF1;
}
.price-2 #circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5.3456vh;
    right: 13.8249vh;
    width: 7.6805vh;
    height: 3.0722vh;
    color: #296460;
    border-radius: 7.6805vh;
    transform: rotate(45deg);
    background-color: #66FCF1;
}
.price {
    font-size: 2.4vh;
    text-align: center;
    width: 38.4025vh;
    height: 22.5177vh;
    padding: 0.768vh;
    border: 2px solid #66FCF1;
}

.price input {
    background: none;
    padding: 5px;
    border: 2px solid #66FCF1;
    font-family: "LeagueSpartan Medium";
    font-size: 2.765vh;
    color: #66FCF1;
    cursor: pointer;
    transition: all 0.6s;
}
.price input:hover {
    border: 2px solid #296460;
    color: #296460;
}
#circle b {
    font-size: 2.5vh;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
    .navbar {
        height: 15%;
    }
    .navbar h2 {
        width: 100%;
        text-align: center;
        margin-left: 0;
        font-size: 3vh;
    }
    .navbar nav {
        width: 100%;
    }
    .navbar nav ul{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .navbar ul li a {
        font-size: 2.8vh;
    }
    .content {
        height: 75%;
        flex-direction: column;
        justify-content: space-around;
    }
    .content .pic-1 img {
        width: 40vh;
        height: 30vh;
    }
    .content .desc {
        width: 16em;
        font-size: 2.2vh;
    }
    .desc input {
        padding: 10px;
        font-size: 2.2vh;
    }
    .social {
        height: 10%;
    }
    .social a {
        font-size: 3.1vh;
    }
    .title {
        height: 15%;
        font-size: 2.8vh;
    }
    .content-2 {
        height: 75%;
    }
    .content-2 .pros {
        font-size: 2.5vh;
    }
    .pros i {
        font-size: 5.1vh;
    }
    .pros p {
        width: 40vh;
    }
    .page-3 .container {
        height: 35%;
        align-items: end;
    }
    .page-3 .container-1 {
        height: 45%;
        font-size: 2vh;
    }
    .container-1 p {
        width: 30vh;
    }
    #img-1, #img-2 {
        width: 21vh;
        height: auto;
        border-radius: 5px;
    }
    #img-3 {
        height: 26.5vh;
        border-radius: 5px;
    }
    #img-4 {
        width: 41vh;
        height: auto;
        border-radius: 5px;
    }
    .wrap {
        height: 40.2vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: 0;
    }
    .price {
        width: 37vh;
        height: 17vh;
        margin: 0;
    }
    .price input {
        padding: 5px;
        font-size: 2.5vh;
    }
    .price-1 h3::after, .price-2 h3::after {
        content: '999$';
    }
    .title {
        height: 10%;
        font-size: 2.8vh;
    }
    .wrap * {
        font-size: 1.7vh;
    }
    .price * {
        margin: 8px;
    }
    
    .price-1 span, .price-1 #circle, .price-2 span, .price-2 #circle {
        display: none;
    }
    

}

@media (max-width: 340px){
    body {
        overflow-x: hidden;
    }
    .pros i {
        font-size: 3.1vh;
    }
    h3 {
        font-size: 2.2vh;
    }
    .pros p {
        font-size: 2vh;
    }
}
