body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
#header-img {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 70vh;
    margin-left: 12vh;
    margin-top: 2.5vh;
}
img {
    width: 40px;
    height: 40px;
}
#header-title {
    padding-left: 15px;
    font-size: 25px;
}
#nav-bar ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 65vh;
    margin-top: -4.5vh;
    min-width: 100px;
    max-width: 950px;
    flex-wrap: wrap;
}
ul li {
    margin-right: 10vh;
}
ul li:last-child {
    margin-right: 10vh;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}
li a {
    text-decoration: none;
    color: rgb(30, 30, 78);
    transition: color 0.8s;
}
li a:hover {
    color: rgb(76, 76, 211);
}
#form {
    display: block;
    text-align: center;
    margin-top: 2.5em;
}
#email {
    width: 25em;
    height: 2.5em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    border-radius: 5px;
    border-color: rgb(30, 30, 78);
    transition: border-color 0.8s;
    outline: none;
    box-sizing: border-box;
    padding-left: 10px;
}

#email:focus {
    border-color: rgb(76, 76, 211);
}
#email-label {
    font-family: monospace;
    font-size: 20px;
}
#get-started {
    width: 8em;
    height: 1.5em;
    color: white;
    background-color: rgb(30, 30, 78);
    border-radius: 5px;
    border: none;
    transition: background-color 0.8s;
    cursor: pointer;
    outline: none;
    margin-bottom: 6em;
}
#get-started:hover {
    background-color: rgb(76, 76, 211);
}
#features .icon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 125px;
    width: 20vw;
    color: rgb(30, 30, 78);
    font-size: 50px;
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
    padding-left: 4em;
    padding-top: 7em;
}
h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    height: 14px;
    width: 4.5em;
}
p {
    display: block;
    margin-top: 1em;
    min-width: 450px;
    max-width: 650px;
}
.grid {
    display: flex;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#product-pictures {
    display: flex;
    align-items: center;
    justify-content: center;
}
div.gallery {
    margin: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border 0.6s;
    width: 180px;
}
  
div.gallery:hover {
    border: 2px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.descpic {
    padding: 5px;
    text-align: center;
    transition: padding 0.6s;
}
div.descpic:hover {
    text-align: center;
}
#pricing {
    position: absolute;
    top: 215%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.price {
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border 0.4s;
    width: 280px;
    height: 225px;
}
  
div.price:hover {
    border: 2px solid #777;
}
  
div.price h3 {
    padding: 10px;
    text-align: center;
    width: 100%;
    height: auto;
}
  
div.descp {
    padding: 10px;
    text-align: center;
    transition: padding 0.6s;
}
.price > .level {
    text-align: center;
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.price > .select {
    display: flex;
    align-items: center;
    justify-content: center;
}
#submit {
    width: 5em;
    height: 2.5em;
    color: white;
    background-color: rgb(30, 30, 78);
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    transition: background-color 0.8s;
    cursor: pointer;
    outline: none;
    margin-bottom: 6em;
}
#submit:hover {
    background-color: rgb(76, 76, 211);
}
footer {
    margin-top: 55em;
    background-color: #ddd;
    padding: 20px;
}
footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: left;
    font-size: 0.9em;
    color: #444;
}


@media (max-width:1300px)  {
    #header-img {
        margin-right: 10px;
        margin-left: 10px;
    }
    #header-img img {
        width: 35px;
        height: 35px;
    }
    #header-title {
        font-size: 20px;
    }
    #nav-bar ul {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        margin-left: 65vh;
        margin-top: -4.5vh;
        min-width: 100px;
        max-width: 950px;
        flex-wrap: wrap;
        white-space: nowrap;
    }

    #features .icon {
        font-size: 30px;
        height: 75px;
        width: 15vw;
    }

    #features .desc {
        font-size: 12px;
        padding-left: 2em;
        padding-top: 2em;
    }
    #pricing {
        position: absolute;
        top: 225%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    div.price {
        margin: 30px;
        border: 1px solid #ccc;
        transition: border 0.4s;
        width: 180px;
        height: 215px;
    }
    #submit {
        width: 5em;
        height: 2.0em;
        color: white;
        background-color: rgb(30, 30, 78);
        border-radius: 5px;
        border: none;
        font-size: 12px;
        text-transform: uppercase;
        transition: background-color 0.8s;
        cursor: pointer;
        outline: none;
        margin-bottom: 6em;
    }
}
